* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../../assets/imgs/bolha-background.png") no-repeat;
  background-color: rgb(143, 143, 255);
  font-family: "Caveat", cursive, sans-serif;
  font-optical-sizing: auto;
  overflow: hidden;
  user-select: none;
  zoom: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-size: cover;
  }

  div.box-projetos {
    width: 80%;
    height: 150px;
    border-radius: 10px;
  }

  p.text-projetos {
    font-size: 20px;
  }

  div.barra-infos {
    padding: 10px;
  }
}

div.box-projetos {
  background: #393053;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  border-radius: 15px;
  transition: all 0.5s;
  box-shadow: 0px 0px 40px #000;
}

div.relogio-digital-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #635985;
  width: 70px;
  height: 70px;
  margin: 10px auto;
  border-radius: 10px;
  transition: all 0.5s;
}

p.relogio-digital-text {
  color: #fff;
  position: relative;
  font-size: 25px;
  font-style: normal;
  transition: all 0.5s;
}

p.text-projetos {
  position: absolute;
  font-size: 25px;
  font-style: normal;
  color: #fff;
  text-shadow: 5px 5px 9px #000;
  transition: all 0.5s;
}

p.text-projetos:hover {
  font-size: 30px;
}

div.box-projetos:hover {
  width: 105px;
  height: 105px;
  border-radius: 30px;
  box-shadow: 0px 0px 30px #000;
}

div.relogio-digital-box:hover {
  width: 80px;
  height: 80px;
  border-radius: 25px;
}

p.relogio-digital-text:hover {
  font-size: 35px;
}

a.relogio-digital-link{
  text-decoration: none;
}

a.link-projetos {
  display: inline-block;
  text-decoration: none;
}

div.barra-infos {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  font-weight: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  transition: all 0.5s;
}

div.barra-infos:hover {
  padding: 9px;
}

img.logo-twitter {
  height: 50px;
  width: 50px;
  transition: all 0.5s;
}
img.logo-instagram {
  height: 50px;
  width: 50px;
  transition: all 0.5s;
}
img.logo-tiktok {
  height: 50px;
  width: 50px;
  transition: all 0.5s;
}

img.logo-twitter:hover {
  height: 60px;
  width: 60px;
}
img.logo-instagram:hover {
  height: 60px;
  width: 60px;
}
img.logo-tiktok:hover {
  height: 60px;
  width: 60px;
}

noscript.alert-noscript {
  font-size: 20px;
}